Source: autodock-vina
Maintainer: Debian Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
Uploaders: Steffen Moeller <moeller@debian.org>,
           Yask Gupta <yask.gupta87@gmail.com>,
           Michael Banck <mbanck@debian.org>,
           Andreas Tille <tille@debian.org>
Section: science
Priority: optional
Build-Depends: debhelper (>= 9),
               libboost-all-dev
Standards-Version: 3.9.4
Vcs-Browser: http://anonscm.debian.org/viewvc/debian-med/trunk/packages/autodock-vina/trunk/
Vcs-Svn: svn://anonscm.debian.org/debian-med/trunk/packages/autodock-vina/trunk/
Homepage: http://vina.scripps.edu

Package: autodock-vina
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Suggests: autodock,
          autogrid
Description: docking of small molecules to proteins
 AutoDock Vina is a program to support drug discovery, molecular
 docking and virtual screening of compound libraries. It offers
 multi-core capability, high performance and enhanced accuracy
 and ease of use.
 .
 The same institute also developed autodock, which is widely used.
 .
 O. Trott, A. J. Olson, AutoDock Vina: improving the speed and accuracy
 of docking with a new scoring function, efficient optimization and
 multithreading, Journal of Computational Chemistry 31 (2010) 455-461
